@font-face {
  font-family: "Mont Regular";
  src: url("/src/assets/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Mont Bold";
  src: url("/src/assets/fonts/Montserrat-Bold.ttf");
}

body {
  font-family: "Mont Regular";
  background-color: #11111b;
  color: #f8f9fa;
  a {
    text-decoration: none;
    color: inherit;
  }
}

.hero-title-sec {
  max-width: 42rem;
  padding-top: 7.45rem;
  padding-left: 2.5rem;

  .hero-title {
    font-family: "Mont Bold";
    margin-block: 2rem;
    font-size: 3.75rem;
    line-height: 3.75rem;
    letter-spacing: -0.05em;
    font-weight: 100;
  }

  .hero-para {
    font-size: 1.875rem;
    line-height: 2.25rem;
    opacity: 0.7;
    margin-bottom: 1.5rem;
    padding-bottom: 8rem;
  }
  @media screen and (max-width: 600px) {
    .hero-title {
      font-size: 2.5rem;
      margin-block: 1rem;
    }
    .hero-para{
        font-size: 1.5rem;
        margin-bottom: 0;
        padding-bottom: 8rem;
    }
  }
}

.hero-screenshot img {
  max-width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
