.footer {
  background-color: #181825;
  padding: 20px 0;
  text-align: center;
  border-radius: 15px;

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
      margin: 5px 0;
      font-size: 14px;
    }
  }
}
